/* ---------------
 設定値一覧
--------------- */

:root {
  /* --- 通常ユーザーのコメント --- */
  /* フォント種類（インストールしていれば使用可能） */
  --font-name: "パンダベーカリー", sans-serif;
  /* コメントの文字の大きさ */
  --font-size: 25px;
  /* コメントの色 */
  --font-color: #000000;
  /* 文字同士の間隔 */
  --font-flex: 1px;

  /* 淵の太さ・影 */
  /* 1px、2pxにすると縁取り、10pxくらいにすると影っぽくなる */
  --font-bold: 10px;
  /* 影・淵の色 */
  --shadow-color: #ff0000;

  /* スパチャ（未実装） */
  --sp-bg-color: #57C4E6;
  --sp-bg-sub-color: #FFFFFF;
  --sp-font-color: #FFFFFF;
  --sp-font-sub-color: #39ACD0;
  --sp-border-color: #39ACD0;

  /* メンシ（未実装） */
  --mb-bg-color: #39ACD0;
  --mb-font-color: #FFFFFF;
  --mb-border-color: #FFFFFF;

}

/* ---------------
 ユーザー名
--------------- */
#author-name {
  display: none;
}

/* ---------------
 チャット本文
--------------- */
#message.yt-live-chat-text-message-renderer {
  /* フォント種類 */
  font-family: var(--font-name);
  /* フォントサイズ */
  font-size: var(--font-size) !important;
  /* フォントの色 */
  color: var(--font-color) !important;
  /* 文字の間隔 */
  letter-spacing: var(--font-flex);
  /* 影 */
  text-shadow:
    2px 2px var(--font-bold) var(--shadow-color),
    -2px 2px var(--font-bold) var(--shadow-color),
    2px -2px var(--font-bold) var(--shadow-color),
    -2px -2px var(--font-bold) var(--shadow-color);

    
  width: fit-content;
  min-width: 180px;

  position: relative;
  z-index: 0;
  overflow: visible;
}

#content.yt-live-chat-text-message-renderer {
  padding-left: 44px;
  position: relative;
  width: 100%;
  z-index: 0;
}

/* アイコン */
#content.yt-live-chat-text-message-renderer::before {
  content: "";
  background-image: url('https://raw.githubusercontent.com/MasudaVtuber/comment/main/wi/4.svg');
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: icon 1.0s;
  animation-fill-mode: forwards;
  opacity: 1;

  
  
}

yt-live-chat-text-message-renderer {
  position: relative;
}

#message.yt-live-chat-text-message-renderer {
  animation: fade-in 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes icon {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ---------------
 メンシ
--------------- */

#card.yt-live-chat-membership-item-renderer {
  display: none;
  animation: fade-in 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;

  border: 3px solid var(--mb-border-color);
  border-radius: 10px;
}

/* ----- メンバーシップへようこそ ----- */
/* yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer {
  background-color: var(--main-color) !important;
  border-radius: 20px;
  padding: 0px;
} */

/* メンバーシップ名 */
/* yt-live-chat-membership-item-renderer[has-primary-header-text]:not([dashboard-money-feed]) #header-subtext.yt-live-chat-membership-item-renderer {
  border-top: none;
} */

/* header top */
/* yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer div#header-content-inner-column {
  background-color: var(--mb-bg-color);
  color: var(--mb-font-color);
  padding: 20px 40px 12px;
  border-radius: 6px 6px 0px 0px;
} */

/* #header-content.yt-live-chat-membership-item-renderer {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px;
  display: inline;
  width: 100%;
} */

/* 名前 */
/* .yt-live-chat-membership-item-renderer #author-name {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
  display: none;
} */

/* ようこそ */
/* #header-subtext.yt-live-chat-membership-item-renderer {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;

  background-color: var(--mb-bg-color);
  color: var(--mb-font-color) !important;
  margin-top: 0px;
  padding: 0px 40px 20px;
} */

/* ----- メンバーシップ　コメント ----- */

/* メンスパ本文の背景色 */
/* div#content.yt-live-chat-membership-item-renderer {
  background-color: var(--main-color) !important;
  border-radius: 0px 0px 10px 10px !important;
  padding: 0px;
} */

/* メンスパ本文のテキスト色 */
/* div#message.yt-live-chat-membership-item-renderer {
  background-color: var(--mb-bg-color);
  color: var(--mb-font-color);
  border-top: 0px;
  border-radius: 0px 0px 7px 7px;
  padding: 0px 40px 20px;
} */

/* メンバーシップ　コメント */
/* #header.yt-live-chat-membership-item-renderer {
  background-color: var(--main-color) !important;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
} */

/* メンバー歴 */
/* #header-primary-text.yt-live-chat-membership-item-renderer {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
} */

/* div#header-content-inner-column {
  border-bottom: 0px;
  background-color: var(--mb-bg-color);
  padding: 20px 40px 0px 40px;
  border-radius: 7px 7px 0px 0px ;
} */

/* メンバーシップ ギフトを贈りました */
/* #content.ytd-sponsorships-live-chat-header-renderer {
  padding: 0px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--mb-border-color);
} */

/* #header-content.ytd-sponsorships-live-chat-header-renderer {
  display: inline;
  width: 100%;
} */

/* yt-live-chat-author-chip.ytd-sponsorships-live-chat-header-renderer {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
  margin-bottom: 0px;

  width: 100%;
  color: var(--sub-color) !important;
  --yt-live-chat-sponsor-color: #FFFFFF;
  --yt-live-chat-moderator-color: #FFFFFF;
  --yt-live-chat-secondary-text-color: #FFFFFF;
} */

/* #content.ytd-sponsorships-live-chat-header-renderer div#header-content-inner-column {
  padding: 0px;
  border-radius: 7px;
} */

/* 名前 */
/* #content.ytd-sponsorships-live-chat-header-renderer #author-name.member.yt-live-chat-author-chip {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;

  padding: 20px 40px 12px;
  width: 100%;
} */

/* 贈りました */
/* #primary-text.ytd-sponsorships-live-chat-header-renderer {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
  
  padding: 0px 40px 20px;
} */

/* #header.ytd-sponsorships-live-chat-header-renderer {
  background-color: var(--main-color) !important;
  border-radius: 20px !important;
  overflow: visible !important;

  position: relative;
  animation: fade-in 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
} */

/* ギフト */
/* .rhs-image.ytd-sponsorships-live-chat-header-renderer {
  position: absolute;
  top: 0px;
  right: 20px;
} */


/* ---------------
 スパチャ
--------------- */

/* ----- card header ----- */
/* yt-live-chat-paid-message-renderer[is-v2-style] #card.yt-live-chat-paid-message-renderer {
  background-color: var(--sp-bg-color) !important;
  color: var(--sp-font-color) !important;
  border: 3px solid var(--sp-border-color);
  border-radius: 10px;

  animation: fade-in 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
} */

/* ----- sp header ----- */
/* yt-live-chat-paid-message-renderer[is-v2-style] #header.yt-live-chat-paid-message-renderer {
  padding: 20px 40px 12px;
  color: var(--sp-font-color) !important;
  position: relative;
  overflow: visible !important;
} */

/* ----- sp header only ----- */
/* yt-live-chat-paid-message-renderer[show-only-header] #header.yt-live-chat-paid-message-renderer {
  padding: 20px 40px;
} */

/* yt-live-chat-paid-message-renderer[is-v2-style] #single-line.yt-live-chat-paid-message-renderer {
  display: flex;
  justify-content: space-between;
} */

/* yt-live-chat-paid-message-renderer[is-v2-style] #header-content-primary-column.yt-live-chat-paid-message-renderer {
  padding-right: 0px;
} */

/* 金額 */
/* yt-live-chat-paid-message-renderer[is-v2-style] #purchase-amount-column.yt-live-chat-paid-message-renderer {
  position: absolute;
  top: -31px;
  right: 20px;
  background-color: var(--sp-bg-sub-color);
  color: var(--sp-font-sub-color);
  border-radius: 5px;
  padding: 8px 24px;
} */

/* ----- スパチャ message ----- */
/* yt-live-chat-paid-message-renderer[is-v2-style] #content.yt-live-chat-paid-message-renderer {
  background-color: var(--main-color);
  color: var(--sub-color);
  border-top: 2px dashed var(--sub-color);

  padding: 0px 40px 20px;
  border-radius: 0px 0px 20px 20px;
} */

/* yt-live-chat-paid-message-renderer[show-only-header] #content.yt-live-chat-paid-message-renderer {
  padding: 0px;
  border: none;
} */

/* SuperChat/Fan Funding Messages - スーパーチャットメッセージ */
/* div.yt-live-chat-paid-message-renderer#author-name-chip,
div.yt-live-chat-paid-message-renderer#author-name-chip span#author-name,
div.yt-live-chat-paid-sticker-renderer#author-name-chip,
div.yt-live-chat-paid-sticker-renderer#author-name-chip span#author-name { */

/* 名前 */
/* font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
} */

/* yt-live-chat-author-chip[disable-highlighting] #author-name.yt-live-chat-author-chip {
  color: var(--sp-font-color);

  animation: none;
} */

/* .yt-live-chat-paid-message-renderer#purchase-amount,
.yt-live-chat-paid-sticker-renderer#purchase-amount-chip,
.yt-live-chat-paid-message-renderer#purchase-amount-column,
.yt-live-chat-paid-sticker-renderer#purchase-amount-chip *,
yt-live-chat-donation-announcement-renderer #text,
yt-live-chat-donation-announcement-renderer #text * { */

/* 金額 */
/* font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
} */

/* yt-formatted-string {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
} */

/* yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content *,
yt-live-chat-membership-item-renderer #content,
yt-live-chat-membership-item-renderer #content *,
yt-live-chat-membership-item-renderer #message {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  letter-spacing: 1.8px !important;
} */

/* 初めてのスーパーチャット */
/* #content.yt-live-chat-item-bumper-view-model {
  display: none !important;
} */

/* 1周年 */
/* #overlay-image.yt-live-chat-paid-message-renderer {
  top: auto;
  bottom: -40px;
  right: 0px;
} */

/* ----- sticker ----- */

/* スティッカーのサイズ */
/* #sticker img {
  width: 54px !important;
  height: 54px !important;
} */

/* yt-img-shadow#sticker {
  display: block;
  padding: 0px 40px 20px;
} */

/* yt-live-chat-paid-sticker-renderer[is-v2-style] #card.yt-live-chat-paid-sticker-renderer {
  background-color: var(--sp-bg-color);
  color: var(--sp-font-color);

  display: block;
  border-radius: 10px;
  border: 3px solid var(--sp-border-color);
  overflow: visible !important;
  padding: 0px;

  animation: fade-in 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
} */

/* yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #purchase-amount-chip.yt-live-chat-paid-sticker-renderer {
  padding-right: 0px;
  color: var(--sp-font-sub-color) !important;
} */

/* ----- sticker header ----- */
/* yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #author-info.yt-live-chat-paid-sticker-renderer {
  display: block;
  padding: 20px 40px 12px !important;
  color: var(--sp-font-color) !important;
  position: relative;
} */

/* 金額 */
/* yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #price-column.yt-live-chat-paid-sticker-renderer {
  background-color: var(--sp-bg-sub-color);
  color: var(--sp-font-sub-color) !important;
  padding: 8px 24px;
  border-radius: 5px;
  position: absolute;
  top: -31px;
  right: 20px;
} */

/* #author-name-chip.yt-live-chat-paid-sticker-renderer {
  padding-right: 0px;
} */

/* スティッカーの名前の高さ */
/* div#author-name.yt-live-chat-paid-sticker-renderer,
span#price-column {
  
  line-height: unset !important;
} */

/* 名前・金額 */
/* #content-primary-column.yt-live-chat-paid-sticker-renderer {
  display: flex;
  justify-content: space-between;
} */

/* 風船 */
/* #overlay-image.yt-live-chat-paid-message-renderer {
  right: 20px;
  opacity: 0.3;
} */

/* yt-live-chat-paid-message-renderer,
yt-live-chat-membership-item-renderer {
  margin: 4px 0 !important;
} */

/* yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
  text-decoration: none !important;
} */

/* 削除/管理されたメッセージは非表示 */
yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted],
yt-live-chat-moderation-message-renderer,
yt-live-chat-auto-mod-message-renderer {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
}

yt-live-chat-ticker-renderer {
  display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  /* ; /* 2行目の色 */
  font-family: var(--font-name);
  font-size: 14px !important;
  line-height: 1.5em !important;
  font-weight: 500 !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-server-error-message,
yt-live-chat-banner-manager,
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

/* アニメーションの設定 */
@keyframes myanim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes pop-out {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0%) translateY(0) scale(1);
    opacity: 1;
  }
}


yt-live-chat-text-message-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-membership-item-renderer {
  animation: myanim 300ms;
  animation-fill-mode: both;

}

/* チャット欄をすごく小さくした時に表示を崩れないようにする */
yt-live-chat-app {
  min-height: 0px;
  min-width: 0px;
  word-break: break-all;
}

/* 余白調整とかいろいろ */
div#author-info {
  align-items: center !important;
  padding: 8px 16px !important;
  max-height: unset !important;
}

/* ギフトを送りました。 */
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer {
  margin: 4px 0 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

ytd-sponsorships-live-chat-header-renderer #author-photo.ytd-sponsorships-live-chat-header-renderer {
  display: none;
}

/* ギフトが贈られました。 */
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer .yt-live-chat-item-list-renderer {
  display: none;
}

ytd-sponsorships-live-chat-gift-redemption-announcement-renderer {
  display: none;
}

/* ログイン中にチャット本文内の自分の名前に色がつくのを無効化 */
.mention.style-scope {
  background-color: unset;
}

/* ポップアップしている要素を消す */
yt-live-chat-upsell-dialog-renderer {
  display: none;
}

/* リアクション（ハートマークが飛ぶやつ）を消す */
div#reaction-control-panel-overlay.yt-live-chat-renderer {
  display: none;
}

/* セパレータ(薄い影)を消す */
div#separator.yt-live-chat-renderer {
  display: none;
}

/* Background colors - 背景色 */
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

/* Transparent background - 背景透過 */
yt-live-chat-renderer {
  visibility: hidden !important;
}

yt-live-chat-renderer * {
  visibility: initial !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
  background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
  background-color: transparent !important;
}

/* Outlines - 縁取り */
yt-live-chat-text-message-renderer * {
  font-family: var(--font-name);
  font-size: 14px !important;
  line-height: 1.5em !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-membership-message-renderer #content {
  overflow: initial !important;
}

/* Hide scrollbar - スクロールバー非表示 */
yt-live-chat-item-list-renderer #items {
  overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

/* Hide header and input - ヘッダーと入力欄非表示 */
#panel-pages,
yt-live-chat-message-input-renderer {
  display: none !important;
}

yt-live-chat-header-renderer {
  display: none !important;
}

yt-live-chat-membership-item-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-message-renderer {
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* ---------------
 アイコン
--------------- */

/* 通常のチャット */
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer img {
  display: none !important;
}

/* メンバーシップ・スーパーチャット */
#author-photo.yt-live-chat-membership-item-renderer img#img,
#author-photo.yt-live-chat-paid-message-renderer img#img,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer img,
yt-img-shadow#author-photo.yt-live-chat-paid-sticker-renderer,
yt-img-shadow#author-photo.yt-live-chat-paid-sticker-renderer img,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer img {
  display: none !important;
}

/* Member Badge - モデレーター・メンバーのバッジ(アイコン)サイズ */
.yt-live-chat-author-badge-renderer,
.yt-live-chat-author-badge-renderer svg.yt-icon {
  width: 18px !important;
  height: 18px !important;
  display: none !important;
}

/* Emoji - 絵文字・メンバー用スタンプ */
#message>img,
img.yt-live-chat-text-message-renderer {
  width: 20px !important;
  height: 20px !important;
}

/* Hide badges - バッジ非表示. */
yt-live-chat-text-message-renderer #author-badges,
yt-live-chat-text-message-renderer #chat-badges {
  display: none !important;
}

/* Timestamps - 時刻表示 */
yt-live-chat-text-message-renderer #timestamp {
  display: none !important;
}

/* 名前・バッジの色 */
/* 一般ユーザー */
yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: var(--name-font-color) !important;
}

/* モデレーター */
yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: var(--name-font-color) !important;
}

/* メンバー */
yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: var(--name-font-color) !important;
}

yt-live-chat-text-message-renderer {
  padding: 10px !important;
}